extends ../layout

block contenido
    -const med = medicos[0]

    form(action="/medico/actualizar" method="post")
        .form-group
        input(name="dni", type="hidden", value= `${med.dni}` required)
        br
        .form-group
        label(for="nombre_completo") Nombre completo
        input.form-control(name="nombre_completo", type="text", value= `${med.nombre_completo}` required)
        br
        .form-group
        label(for="telefono") Telefono
        input.form-control(name="telefono", type="Number", value= `${med.telefono}` required)
        br
        .form-group
        label(for="mail") Mail
        input.form-control(type="mail", name="mail", value= `${med.mail}` required)
        input.form-control(type="submit" value="Editar")