extends ../layout

block contenido
    h1 Verificación de DNI
    form(action="/medico/verificarDni" method="post" class="container mt-4")
        .form-group
            label(for="dni") DNI
            input.form-control(name="dni", type="number", placeholder="Ingrese Dni" required)
        button.btn.btn-primary(type="submit") Verificar DNI
