html
    head
        title Mi Aplicación
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")  
    body
        header
            nav   
                ul 

                    li 
                        a(href="/agendas/online") Agendas    
                  
        block content //