html
    head
        title Mi Aplicación
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")  
    body
        header
            nav   
                ul 
                    li 
                        a(href="/plantilla") Home 
                    li 
                        a(href="/galeria") Galería 
                    li 
                        a(href="/medico/vista") Nuevo Médico
                    li 
                        a(href="/medico/lista") Lista Médicos
                    li 
                        a(href="/nuevaagenda") Agenda    
                    li 
                        a(href="/agendasturno") Turnos agenda  
                    li 
                        a(href="/gestorHorarios") Gestionar horarios     
        block content //