html
    head
        title Mi Aplicación
    body
        header
            nav   
                ul 
                    li 
                        a(href="/plantilla") Home 
                    li 
                        a(href="/galeria") Galería 
                    li 
                        a(href="/crear") Nuevo Médico
                    li 
                        a(href="/editar") Editar Información Médico
                    li 
                        a(href="/listar") Lista Médicos
                    li 
                        a(href="/nuevaagenda") Agenda    
                    li 
                        a(href="/agendasturno") Turnos agenda       
        block content //