extends ../layoutOp

block contenido
  body
    .container
      h1 Ingresar Nuevo Horario
      p Clave de agenda: #{clave_agenda}

      if error
        .alert.alert-warning
          p #{error}

      form(method="POST" action="/horario/nuevo")
        input(type='hidden' name='clave_agenda', value=clave_agenda)
        .form-group
          label(for="fecha") Fecha
          input.form-control(type="date" id="fecha" name="fecha" required)
        .form-group
          label(for="fecha_fin") Fecha de Fin
          input.form-control(type="date" id="fecha_fin" name="fecha_fin" required)
        .form-group
          label(for="hora_inicio") Hora de Inicio
          input.form-control(type="time" id="hora_inicio" name="hora_inicio" step="3600" required)
        .form-group
          label(for="hora_fin") Hora de Fin
          input.form-control(type="time" id="hora_fin" name="hora_fin" step="3600" required)
        .form-group
          label(for="descripcion") Estado del Horario
          select.form-control(id="descripcion" name="descripcion" required)
            option(value="vacaciones") Vacaciones
            option(value="disponible") Disponible
            option(value="feriado") Feriado

        button.btn.btn-primary(type="submit") Guardar Horario
