doctype html
html
  head
    title Agenda de consultorio
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
  
  body
    block content
      .container
        h1.text-center.mb-4 Login

        // Mensajes de error
        if errorAutorizacion
          .alert.alert-danger
            p #{errorAutorizacion}

        if error
          .alert.alert-danger
            p #{error}

        form(action="/login" method="post")
          .mb-3
            label(for="usuario" class="form-label") Nombre de Usuario
            input#usuario.form-control(name="usuario", type="text", placeholder="Ingrese un nombre de usuario" required)

          .mb-3
            label(for="contrase単a" class="form-label") Contrase単a
            input#contrasena.form-control(name="contrase単a", type="password", placeholder="Ingrese una contrase単a" required)

   

          .d-flex.justify-content-center
            button.btn.btn-primary(type="submit") Ingresar
