extends ../layout

block content
    if error
        h2= error

    h1 Registro    
    form(action="/registro" method="post")
        input(name="usuario", type="text", placeholder="Ingrese un nombre de usuario" required)
        br
        input(name="contraseña", type="text", placeholder="Ingrese una contraseña" required)
        br
        select#especialidadInput.form-control(name='rol')
            
               option(value=`admin`)= "Administrador" 
               option(value=`op`)= "Operador"
        input(type="submit" value="Registrar")