extends ../layout

block contenido
  if error
    h2.text-danger= error

  h1.text-center.mb-4 Registro
  
  form(action="/registro" method="post")
    .mb-3
      label(for="usuario" class="form-label") Nombre de Usuario
      input#usuario.form-control(name="usuario", type="text", placeholder="Ingrese nombre de usuario" required)
    
    .mb-3
      label(for="contrase単a" class="form-label") Contrase単a
      input#contrasena.form-control(name="contrase単a", type="text", placeholder="Ingrese contrase単a" required)

    
    .mb-3
      label(for="rol" class="form-label") Rol
      select#especialidadInput.form-control(name="rol")
        option(value="admin") Administrador
        option(value="op") Operador

    .d-flex.justify-content-center
      input.btn.btn-primary(type="submit", value="Registrar")
