extends ../layoutOp

block contenido
    h1.text-center.mt-4 Editar Paciente
    .container.mt-4
        form(method="POST" action=`/paciente/editar?dni=${paciente[0].dni}` enctype="application/x-www-form-urlencoded" )
            .form-group
                label(for="dni") DNI
                input.form-control(type="text" name="dni" value=paciente[0].dni readonly)
            .form-group
                label(for="obra_social") Obra Social
                input.form-control(name="obra_social", type="text", value= `${paciente[0].obra_social}` required)  
            button.btn.btn-primary(type="submit") Guardar Cambios
