extends ../layoutOp

block contenido
  .container
    h1 Verificación de DNI

    form(action="/paciente/verificarDni" method="post")

      .form-group
        label(for="dni") DNI
        if dni
        input.form-control(name="dni", type="number", placeholder= `${dni}` required)

        // Si existe `clave_horario`, mostrar un campo oculto
        if clave_horario
          input.form-control(name="clave_horario", type="hidden", value=`${clave_horario}`)

      button.btn.btn-primary(type="submit") Verificar DNI
